# IDEs
.idea/
.vscode/
*.swp
*.swo

# project
notes/
zero/
*.rar
*.tar
*.zip
*.7z

# project volumes
docker_volume/

#.envs files
.env
.env.*
!.env.*.template

# Logs
logs/
*.log

# Terraform local cache and downloaded provider binaries (plugins)
.terraform/
# Terraform state files (live infrastructure metadata and secrets)
*.tfstate
*.tfstate.backup
# Terraform variable files (passwords, API tokens, and IPs)
*.tfvars
!*.tfvars.template
