# envs/.envs.e2e.template
# Template for End-to-End (E2E) Local Test Environment Variables for Radar-Core, Postgres and Metabase
#   running together in Docker containers

# --- POSTGRESQL CONTAINER SETTINGS ---
# These variables configure the DB container via 00-init-dbs.sh
POSTGRES_USER=postgres
POSTGRES_PASSWORD=set_your_e2e_local_password
POSTGRES_DB=postgres
# Custom variable for 00-init-dbs.sh script
POSTGRES_MULTIPLE_DATABASES=radar,metabase
# Optional
POSTGRES_SSL_MODE=prefer
POSTGRES_OPTIONS='-c search_path%3Dpublic'
# Expose PostgreSQL on a different port to avoid conflicts with Windows's PostgreSQL host
POSTGRES_EXTERNAL_PORT=5433

# --- RADAR-CORE LOGGING SETTINGS (Container connecting to sibling container) ---
# Connection using the internal Docker network service name
POSTGRES_HOST=db
POSTGRES_PORT=5432
# The app will connect to the 'radar' database created by initialization scripts
POSTGRES_DB_NAME=radar
# YML configuration file: create it in the same folder where is `settings.py` or set the absolute path to the file
# e.g. for Docker container: `settings.yml` if next to `settings.py`, or `/home/default/app/settings.yml`
RADAR_SETTING_FILE=settings.yml

# --- RADAR-CORE LOGGING SETTINGS ---
# Disable file logging for containerization environments
RADAR_ENABLE_FILE_LOGGING=false
# Log levels: 10.Debug, 20.Info, 30.Warning, 40.Error, 50.Critical
RADAR_LOG_LEVEL=20

# --- RADAR-CORE PERFORMANCE SETTINGS ---
# Number of parallel workers for the analyzer.
# Set to a positive integer (recommended), 0 or leave unset to use all available cores.
RADAR_MAX_WORKERS=2

# --- METABASE SETTINGS (Container connecting to sibling container) ---
# Metabase connects to the 'db' service but to its own database
MB_DB_TYPE=postgres
MB_DB_HOST=db
MB_DB_PORT=5432
MB_DB_DBNAME=metabase
# Port to access Metabase UI from the browser
METABASE_UI_PORT=3000

# --- METABASE JAVA MEMORY LIMIT/TUNING for PERFORMANCE & STABILITY (HPC Optimization) ---
# Recommended for e2e local environment to keep things snappy
JAVA_OPTS=-Xmx1g